{% extends 'base.html' %}
{% block content %}


<h1>Novel Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ reading.title }}</span>
                <p>Genre: {{ reading.genre }}</p>
                <p>Description: {{ reading.description|linebreaks }}</p>
                <p>Author: {{ reading.author }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'readings_update' reading.id %}">Edit</a>
                <a href="{% url 'readings_delete' reading.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        
        <form action="{% url 'add_bookmark' reading.id %}" method="POST">
            {% csrf_token %}
            {{ bookmark_form.as_p }}
            <button class="btn" type="submit"> Add Bookmark</button>
          </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Chapter</th>
                </tr>
            </thead>
            <tbody>
                {% for bookmark in reading.bookmark_set.all %}
                <tr>
                    <td>{{bookmark.date}}</td>
                    <td>{{bookmark.chapter}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- This is all new markup to be added just above the <script> tag -->
<hr>
<div class="row">
    <div class="col s6">
        <h3>{{ reading.title }}'s Badges</h3> 
        {% if reading.badges.count %} 
            {% for badge in reading.badges.all %} 
            <div class="card">
                <div class="card-content">
                    <span class="card-title"> Rank(<span >{{ badge.get_rank_display }}</span>): {{ badge.name }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'unassoc_badge' reading.id badge.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Remove</button>
                    </form>
                  </div>
            </div> 
            {% endfor %} 
        {% else %} 
        <h5>No Badge :(</h5>
        {% endif %}
    </div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
        <h3>Available Badges</h3>
        {% if badges.count %}
            {% for badge in badges.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        Rank(<span >{{ badge.get_rank_display }}</span>): {{ badge.name }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'assoc_badge' reading.id badge.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Add</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <h5>{{reading.name}} Already Has All Badges Available</h5>
        {% endif %}
    </div>
</div>
<script>
const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}